<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.text_field :title %>
    <%= f.text_field :description %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="fields">
      <%= f.fields_for :comments do |builder| %>
        <%= render 'comment', f: builder %>
      <% end %>
    </tbody>
  </table>

<div class="form-actions">
  <%= f.submit %>
  <%= link_to_add_row('Add Comment', f, :comments, class: 'btn btn-primary') %>
</div>
<% end %>
